# dependencies
node_modules/

# expo
.expo/
dist/
web-build/

# native android
android/app/build/
android/.gradle/
android/build/
android/app/.cxx/
*.apk
*.aab

# native ios
ios/Pods/
ios/build/
ios/*.xcworkspace/xcuserdata
ios/*.xcodeproj/xcuserdata

# environment & logs
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store
Thumbs.db
